<div class="card white">
    <img src="{{drawing}}" class="drawing-drawing">
        <div class="drawing-info">   
            <p class="drawing-title">{{title}}</p>
            <p class="drawing-author">by {{author}}</p>
        </div>
    
   
</div>