<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/{{css}}.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.runtime.js" defer></script>
    <script type="text/javascript" src="js/{{js}}.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/save.css">

    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1 class="title"><a href="home">N I N T E N D R A W</a></h1>
        <nav class='navlist'>
            <ul class="navbar">
                <li class="navbar-item"><a href="home" class="navbar-clickable">Home</a></li>
                <li class="navbar-item">|</li>
                <li class="navbar-item"><a href="gallery" class="navbar-clickable">Gallery</a></li>
                <li class="navbar-item">|</li>
                <li class="navbar-item"><a href="howToPlay" class="navbar-clickable">How to Play</a></li>

                <li class="navbar-item placeholder"></li>
                <li class="navbar-item navbar-search">
                    <input type="text" id="navbar-search-input" placeholder="Search...">
                    <button type="submit" id="navbar-search-button"><i class="fa fa-search"></i></button>
                </li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>