<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/{{css}}.css">

    <script type="text/javascript" src="js/{{js}}.js"></script>

    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1 class="title">D R A W</h1>
        <ul class="navbar">
            <li class="navbar-item navbar-clickable">Home</li>
            <li class="navbar-item">|</li>
            <li class="navbar-item navbar-clickable">Gallery</li>
            <li class="navbar-item">|</li>
            <li class="navbar-item navbar-clickable">How to Play</li>

            <li class="navbar-item">|</li>
            <li class="navbar-item placeholder navbar-clickable"></li>
            <ul class="navlist">
            <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
        </ul>
    </header>

    {{{ body }}}
</body>
</html>