<main class="gallery-container">

    <h2>G A L L E R Y</h2>


    <div class="card-container">
<div class="card-container">
    {{#each card}}
        {{> drawDisplay}}
    {{/each}}
</div>
    </div>

</main>