
<main class="gallery">
    <h2>Gallery</h2>
</main>

<div class="gallery-container">
    <div class="card-container">
        <div class="card white">
            <p class="drawing-title">Title</p>
            <p class="drawing-author">Author</p>
        </div>
        <div class="card white">
            <p class="drawing-title">Title</p>
            <p class="drawing-author">Author</p>
        </div>
        <div class="card white">
            <p class="drawing-title">Title</p>
            <p class="drawing-author">Author</p>
        </div>
    </div>
</div>
