<div class="play-button-container">
    <button class="play-button">D R A W</button>
</div>
<div class="recent-container">
    <h2>R E C E N T</h2>
    <div class="wrap">
        <div class="card-container">
            {{#each card}}
            {{> drawDisplay}}
            {{/each}}
        </div>
    </div>
</div>
<div class="drawing-window-container hidden">
    <div id="backdrop">
        <div class="white" id="drawing-window">
            <div class="info">
                <div class="info-items"></div>
                <div class="info-items timer">30</div>
                <div class="info-items close clickable">&#10005</div>
            </div>
            <div class="topic">Draw: </div>
            <canvas id="canvas"></canvas>
            <div class="controls">
                <div class="color-palette">
                    <div class="clickable color red selected"></div>
                    <div class="clickable color orange"></div>
                    <div class="clickable color yellow"></div>
                    <div class="clickable color green"></div>
                    <div class="clickable color blue"></div>
                    <div class="clickable color purple"></div>
                    <div class="clickable color pink"></div>
                    <div class="clickable color cyan"></div>
                    <div class="clickable color lightgreen"></div>
                    <div class="clickable color brown"></div>
                    <div class="clickable color black"></div>
                    <div class="clickable color white2"></div>
                </div>
                <div class="other-controls">
                    <div class="clickable clear other-control-items ">CLEAR</div><!-- here -->
                    <button class="save-button other-control-items hidden">DONE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="save-backdrop" class="hidden "></div>
<div id="save-menu-container" class=" white hidden">
    <div id="save-menu-items" class="hidden ">
        <div id="title" class="save-item">
            Enter Image Information:
        </div>

        <div id="author-title" class="save-item">
            Author:
        </div>
        <input type="text" id="author-input" class="save-item">

        <button id="confirm" class="">Confirm</button>
        <button id="cancel" class="">Cancel</button>
    </div>
</div>

<div id="confirm-backdrop" class="hidden"></div>
<div id="confirm-menu-container" class="hidden white">
    <div id="confirm-menu-items" class="hidden">
        <div id="prompt" class="prompt-item">
            Are you sure you want to quit?
            <br>
            Your drawing will not be saved.
        </div>
        <button id="yes" class="prompt-button">Yes</button>
        <button id="no" class="prompt-button">No</button>
    </div>
</div>