<main class="how-to-play">
    <h2>H O W&nbsp&nbsp T O&nbsp&nbsp P L A Y</h2>
    <p>When you are ready to play, click the 'DRAW' button.</p>
    <p>Once you click the 'DRAW' button, you will be given a prompt to draw (top left of drawing window) and the timer will begin.</p>
    <p>Click on the colors to change your brush color. If you make a mistake, you cna click the undo arrow.</p>
    <p>Once the timer runs out, your drawing will be posted for others to see.</p>
</main>