/*Save menu*/

#save-menu-container {
    padding: 10px;
    background-color: rgb(227, 227, 227);
    border-radius:15px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-top: -40px;*/
    box-shadow: 3px 3px 5px rgb(0,0,0,30%);
}

#save-menu-items {
    display: grid;
    grid-template-columns: (300 / 4)px;
    grid-template-rows: auto;
    grid-template-areas: "title title title title"
                         "author-title author-input author-input author-input"
                         "cancel cancel confirm confirm";
}

#save-backdrop {
    background-color: rgb(0,0,0,25%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

#title {
    grid-area: title;
    text-align: center;
    font-weight: bold;
}

#author-title {
    grid-area: author-title;

}

#author-input {
    grid-area: author-input;
    font-size: 16px;
    border-radius: 5px;
    background-color:rgb(209, 209, 209);

}

#author-input:focus {
    background-color: #fff;
}

.save-item {
    margin: 10px;
}

#confirm {
    grid-area: confirm;
    background-color: rgb(133, 48, 245);
}

#cancel {
    grid-area: cancel;
    background-color: rgb(189, 138, 255);
}

#confirm, #cancel {
    margin: 10px;
    width: 100px;
    height: 25px;
    justify-self: center;
    color: white;
    border-radius: 25px;
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 40%);
    border: none;
}

#confirm:hover, #cancel:hover {
    box-shadow: none;
}