
html,body{
    height:100%;
}

body {
    /* color:rgb(138, 138, 138) ; */
    height:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color:rgb(209,209,209);
    padding-bottom: 50px;
}

.drawing-title {
    font-weight: bold;
}
.drawing-info {
    text-align: left;
    border-radius: 0 0 25px 25px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    color: white ;
    background-color: rgb(160,0,0);
    margin: 0;
    text-align: center;
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
}

.title > a:nth-child(1) {
border-left-width: 9px;
border-left-style: solid;
border-top-width: 9px;
border-top-style: solid;
border-right-width: 9px;
border-right-style: solid;
border-bottom-width: 9px;
border-bottom-style: solid;
border-radius:25px;
padding-left: 15px;
padding-right: 15px;
}

h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 28px;
    margin: 20px;
}

header {
    margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	}

.navlist{
    margin: 0;
    padding: 0;
    background-color: rgb(90, 90, 90);
    z-index: 3;
}

.navbar {
    margin:0;
    margin-right: 25px;
    padding-right: 40px;
    list-style-type: none;
    display: flex;
    margin-left: 25px;
}

.navbar-item {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.navbar-search {
padding-top: 10px;
    list-style-type: none;
    display: flex;
    height: 100%;
    align-self: center;
}

.placeholder {
    margin-left: auto;
}

.search {
    padding-top: 15px;
}

.play-button-container {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.play-button {
    color: rgb(90, 90, 90);
    border: none;
    border-radius:12px;
    height: 64px;
    width: 128px;
    font-size: 20px;
    background-color: white;
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
}

.play-button:hover{
    background-color:rgb(160,0,0);
    color:white;
    cursor: pointer;
    box-shadow: none;
}

.navbar-clickable{
    border:2px solid rgb(145, 145, 145);
    background-color: rgb(145, 145, 145);
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
    font-size:18px;
    width: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.title:hover{
    cursor: pointer;
}

.navbar-clickable:hover {
    color:rgb(160,0,0);
    cursor: pointer;
    box-shadow: none;
}

.clickable:hover, button:hover {
    cursor: pointer;
}

.white {
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
    background-color: white;
}

.card {
    width: 240px;
    height: 300px;
    min-width: 240px;
    min-height: 300px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 15px solid rgb(10, 10, 10);
    border-radius: 25px;
    display: inline-block;
    margin: 1em;
    background-color: rgb(160,0,0);
}

.card-container {
    text-align: center;
}

.wrap {
    margin: auto;
}

.recent-container,.gallery-container{
    margin: 25px;
    padding: 10px;
    border-left-width: 50px;
    border-left-style: solid;
    border-right-width: 50px;
    border-right-style: solid;
    border-right-color:crimson;
    border-left-color:#15F4EE;
    background-color:rgb(60, 60, 60);
    border-radius: 15px;
    color:white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 5px 5px rgba(0,0,0, 50%);
}

.how-to-play{
    /* margin: 15px;
    padding: 10px;
    border-left-width: 50px;
    border-left-style: solid;
    border-right-width: 50px;
    border-right-style: solid;
    border-right-color:rgb(209,209,209);
    border-left-color:rgb(209,209,209);
    background-color:rgb(209,209,209);
    border-radius: 15px;
    color:rgb(60,60, 60);
    display: flex;
    flex-direction: column; */
    margin: 25px;
    padding: 10px;
    border-left-width: 50px;
    border-left-style: solid;
    border-right-width: 50px;
    border-right-style: solid;
    border-right-color:crimson;
    border-left-color:#15F4EE;
    background-color:rgb(60, 60, 60);
    border-radius: 15px;
    color:white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 5px 5px rgba(0,0,0, 50%);
}

.gallery-container,.how-to-play {
    margin-top: 50px;
}

.how-to-play > p {
    margin-left: 15px;
}

/* .gallery-container,.how-to-play{
    margin-bottom: 20px;
    margin-top: 20px;
    height:90%;
    padding-top: 10px;
} */
/* .recent-container > h2:nth-child(1) {
    padding-top: 1px;
    padding-top: 3px;
    padding-top: 20px;
    } */

#backdrop {
    background-color: rgb(0,0,0,50%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing-window {
    font-family: 'Press Start 2P', cursive;
    height: 680px;
    width: 500px;
    border:0px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    background-color: rgb(227, 227, 227);
}

#canvas {
    border: 25px solid rgb(112, 112, 112) ;
    background-color: white;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
}

.hidden {
    display: none;
}

.color {
    list-style: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 3%;
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
}

.color-palette {
    border: 5px solid rgb(145, 145, 145);
    border-radius: 15px;
    background-color: rgb(145, 145, 145);
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 30px;
    margin-top: 10px;
    padding-top:5px;
}

.controls {
    display: flex;
    padding-bottom: 25px;
}

.other-controls {
    align-self: center;
    display: flex;
    justify-self: center;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.cyan {
    background-color: cyan;
}

.lightgreen {
    background-color: rgb(0, 255, 0);
}

.brown {
    background-color: rgb(146, 66, 0);
}

.black {
    background-color: black;
}

.white2 {
    background-color: white;
}

.selected {
    box-shadow: 0px 0px 5px 7px rgb(0,0,0,50%);
}

.topic {
    font-size: 20px;
    text-align:center;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.error-container{
    margin-top: 60px;
    text-align: center;
}

.error-container h2{
    margin: 15px 0;
    font-size: 100px;
    font-weight: normal;
}

.error-container h3 {
    font-weight: normal;
}

.gallery h2{
    margin-left: 60px;
    margin-top: 60px;
    font-size: 40px;
    font-weight:80;
}

.other-control-items {
    background-color: rgb(90, 90, 90);
    align-self: center;
}

.clear {
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
    font-size: 12px;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    background-color: rgb(179, 0, 90);
    margin-left: 30px;
    /* font-size: 15px;
    border-left-width: 30px;
    border-left-style: solid;
    border-top-width: 30px;
    border-top-style: solid;
    border-right-width: 30px;
    border-right-style: solid;
    border-bottom-width: 30px;
    border-bottom-style: solid;
    text-align: center;
    border-color: rgb(160,0,0);
    background-color: rgb(160,0,0);
    border-radius:50%;
    margin-bottom: 10px;
    margin-left: 50px;
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%); */
}

.clear:hover{
    color:white;
    box-shadow: none;
}

.save-button {
    margin-top: 10px;
}

button {
    border: 1px #666666 solid;
    background-color: white;
    color: #666666;
}

#navbar-search-input, .gallery-search-input {
    padding: 4px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #dadada;
    border-radius: 2px;
    align-self: center;
    background-color:rgb(209, 209, 209);
}

#navbar-search-input:focus, .gallery-search-input:focus {
    outline: none;
    background-color: #fff;
}

#navbar-search-button, .gallery-search-button {
    background: none;
    border: none;
    color:rgb(209, 209, 209);
}

#navbar-search-button:hover, .gallery-search-button:hover{
    color:rgb(160,0,0);
}

.fas{
    font-weight:900;
}


.drawing-drawing {
    width:100%;
    align-self: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.drawing-title,  .drawing-author {
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.drawing-author {
    font-size: 80%;
}



.info {
    width: 100%;
    position: relative;
    display: inline-block;
}

.timer {
    font-size:35px;
    text-align: center;
    margin-top: 5px;
}

.close { /* better to use absolute positioning */
    margin-top: 5px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

/*Warning prompt*/

#confirm-backdrop {
    background-color:rgb(0,0,0,50%);;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

#confirm-menu-container {
    padding: 15px;
    border-radius: 25px;
    background-color:rgb(227, 227, 227);
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
}

#confirm-menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#prompt {
    line-height: 1.5;
    margin-right: 5px;
}

.prompt-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    border: 0px;
    border-radius: 100%;
    color:  white;
    box-shadow: 3px 4px 4px 2px rgba(0,0,0, 50%);
}

.prompt-button:hover{
    box-shadow: none;
}

#yes {
    background-color: rgb(0, 187, 0);
}

#yes:hover {
    background-color: white;
    color: rgb(0, 187, 0);
}

#no {
    background-color: red;
}

#no:hover {
    background-color: white;
    color: red;
}

.gallery-search {
    display: flex;
    justify-content: space-between;
}