/* html,body{
    height:100%;
} */

body {
    /* color:rgb(138, 138, 138) ; */
    height:100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color:#f3f3f3ff;
}

.drawing-title {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    color: rgb(209, 209, 209) ;
    background-color: rgb(150,0,0);
    margin: 0;
    text-align: center;
    box-shadow: 0px 3px 5px rgb(0,0,0,25%);
    font-size: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;

}

.title > a:nth-child(1) {
border-left-width: 9px;
border-left-style: solid;
border-top-width: 9px;
border-top-style: solid;
border-right-width: 9px;
border-right-style: solid;
border-bottom-width: 9px;
border-bottom-style: solid;
border-radius:25px;
padding-left: 15px;
padding-right: 15px;
}

h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 28px;
}

header {
    margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	}

.navlist{
    margin: 0;
    padding: 0;
    background-color: rgb(90, 90, 90);
}

.navbar {
    margin:0;
    padding-right: 25px;
    list-style-type: none;
    display: flex;
   
}

.navbar-item {
    padding: 8px;
    padding-bottom: 16px;
}

.navbar-item.active {
    background-color: rgb(150,0,0);
  }

.navbar-search {
    padding: 0;
    list-style-type: none;
    display: flex;
    height: 100%;
    align-self: center;
	float:right;
	padding-right: 25px;
}

.placeholder {
    margin-left: auto;
}


.play-button-container {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.play-button {
    color: #666666;
    border: none;
    border-radius:15px;
    height: 64px;
    width: 128px;
    font-size: 20px;
    background-color: rgb(227, 227, 227);
}

.play-button:hover{
    background-color:rgb(160,0,0);
    color:rgb(209, 209, 209);
    cursor: pointer;
    right: 100px;
    bottom: 100px;
    left:   100px;
    height: 75px;
    width: 120px;
    box-shadow: 10px 10px 4px 2px rgba(0, 0, 255, .2);
} 
.navbar-clickable:hover, .title:hover, .clickable:hover, button:hover {   
    cursor: pointer;
}

.white {
    box-shadow: 3px 3px 5px rgb(0,0,0,25%);
    background-color: white;
}

.card {
    width: 240px;
    height: 300px;
    min-width: 240px;
    min-height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color:black ;
}

.card-container {
    display: flex;
    flex-wrap: wrap;

}

.recent-container,.gallery-container,.how-to-play{
    height:100%;
    border-left-width: 50px;
    border-left-style: solid;
    border-right-width: 50px;
    border-right-style: solid;
    border-right-color:crimson;
    border-left-color:#15F4EE;
    background-color:rgb(60, 60, 60);
    text-align: center;
    color:rgb(209, 209, 209)
}

.gallery-container,.how-to-play{
    padding-top: 10px;
}
.recent-container > h2:nth-child(1) {
    padding-top: 1px;
    padding-top: 3px;
    padding-top: 20px;
    }

#backdrop {
    background-color: rgb(0,0,0,25%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drawing-window {
    height: 680px;
    width: 500px;
    border:0px;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    background-color: rgb(227, 227, 227);
}

#canvas {
    border: 25px solid rgb(120, 120, 120) ;
    background-color: white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
}

.hidden {
    display: none;
}

.color {
    list-style: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 2%;
    box-shadow: 3px 3px 5px rgb(0,0,0,25%);
}

.color-palette {
    border: 5px solid rgb(145, 145, 145);
    border-radius: 15px;
    background-color: rgb(145, 145, 145);
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20px;
    margin-top: 5px;
    padding-top:5px;
}

.controls {
    display: flex;
    padding-bottom: 30px;
}

.other-controls {
    align-self: center;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.cyan {
    background-color: cyan;
}

.lightgreen {
    background-color: rgb(0, 255, 0);
}

.brown {
    background-color: rgb(146, 66, 0);
}

.black {
    background-color: black;
}

.white2 {
    background-color: white;
}

.selected {
    box-shadow: 0px 0px 5px 7px rgb(0,0,0,40%);
}

.topic {
    font-size: 30px;
    text-align:center;
    margin-top: 20px;
    margin-left: 40px;
}

.error-container{
    margin-top: 60px;
    text-align: center;
}

.error-container h2{
    margin: 15px 0;
    font-size: 100px;
    font-weight: normal;
}

.error-container h3 {
    font-weight: normal;
}

.gallery h2{
    margin-left: 60px;
    margin-top: 60px;
    font-size: 40px;
    font-weight:80;
}

.other-control-items {
    background-color: rgb(90, 90, 90);
    align-self: center;
}

.clear {
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 20px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 20px;
    border-bottom-style: solid;
    text-align: center;
    border-color: rgb(160,0,0);
    background-color: rgb(160,0,0);
    border-radius:50%;
    margin-bottom: 10px;
    margin-left: 50px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.save-button {
    margin-top: 10px;
}

button {
    border: 1px #666666 solid;
    background-color: white;
    color: #666666;
}

#navbar-search-input {
    padding: 4px;
    font-size: 16px;
    background-color: #eee;
    border: 1px solid #dadada;
    border-radius: 2px;
    align-self: center;
    background-color:rgb(209, 209, 209);
}

#navbar-search-input:focus {
    outline: none;
    background-color: #fff;
}

#navbar-search-button {
    background: none;
    border: none;
    color:rgb(209, 209, 209);
}

#navbar-search-button:hover{
    color:rgb(150,0,0);
}

.fas{
    font-weight:900;
}


.drawing-drawing {
    width:90%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
    background-color: white;
}

.drawing-info{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: rgb(150,0,0);
}

.drawing-title,  .drawing-author {
    color:black;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}



.info {
    width: 100%;
    position: relative;
    display: inline-block;
}

.timer {
    font-size:35px;
    text-align: center;
    margin-top: 5px;
}

.close { /* better to use absolute positioning */
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}

/*Warning prompt*/

#confirm-backdrop {
    background-color: rgb(0,0,0,30%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

#confirm-menu-container {
    padding: 15px;
    background-color: white;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -175px;
    box-shadow: 3px 3px 5px rgb(0,0,0,25%);
}

#confirm-menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#prompt {
    line-height: 1.5;
    margin-right: 5px;
}

.prompt-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    border-radius: 100%;
}

#yes {
    background-color: green;
}

#no {
    background-color: red;
}

.prompt-item {

}
